@page
@model G_Pedidos.Pages.PedidosModel
@{
    ViewData["Title"] = "Pedidos";
}

<div class="text-center">
    <h1 class="display-4">Lo sentimos el módulo de pedidos se encuentra en mantenimiento!</h1>
   
    <p>Escanea este código para más información</p>

    <img src="https://imagenes.elpais.com/resizer/IgLHDYbhyF5XoEtlOuQDZXBM7-g=/1200x0/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/3ZNMLVVWGXRH7WSCMHWSKUPDKE.jpg"/>
</div>
